<div class="row">

  <div class="col s2" {{action "editarFecha" }}>
    <h4>Reunión del:</h4>
  </div>
  <div class="col s3" {{action "editarFecha" }}>
    {{#if editandoFecha}}
      {{tenpines/input-date label='Fecha' value=reunion.fecha}}
    {{else}}
      <h4>{{reunion.fecha}}</h4>
    {{/if}}
  </div>

  <div class="col s12 right-align">
    {{materialize/check-box label='Ver temas obligatorios' checked=mostrarObligatorios checkboxClasses="filled-in"}}
  </div>

</div>

<div class="row">
  <table class="bordered highlight col s12">
    <thead>
      <tr>
        <th class="con-padding">
          #
        </th>
        <th class="con-padding">
          Tema
        </th>
        <th class="con-padding">
          Duración
        </th>
        <th class="con-padding">
          Votos <span class="indivisible">({{votosRestantes}} restantes)</span>
        </th>
      </tr>
    </thead>

    <tbody>
    {{#each reunion.temasPropuestos as |tema|}}
      {{#if (or mostrarObligatorios (not tema.esObligatorio))}}
      <tr bgcolor={{tema.colorVotos}}>
        <td class="con-padding">
          {{tema.prioridad}}
        </td>

        <td class="con-padding">
          {{tenpines/colored-label value=tema.autor bgColor='green'}}
          <h5 class="titulo-de-tema">{{tema.titulo}}</h5>
          <p class="crop">{{markdown-view value=tema.descripcion}}</p>
        </td>

        <td class="con-padding">
          {{tema.duracion}}
        </td>
        <td class="con-padding">
          <span class="indivisible">
            {{#unless tema.esObligatorio}}
              <span {{action 'restarVoto' tema}} class="clickable">ᐁ</span>
              {{tema.cantidadVotosPropios }} votos
              <span {{action 'sumarVoto' tema}} class="clickable">ᐃ</span>
            {{/unless}}
          </span>
        </td>
        <td class="right-align">
          {{#unless estaCerrada}}
            {{#if tema.puedeSerBorrado}}
              <span {{action 'mostrarFormularioDeEdicion' tema}}
                class="clickable">{{materialize/icon-helper 'mode_edit'}}</span>
            {{/if}}
          {{/unless}}
        </td>
        <td class="right-align">
          {{#unless estaCerrada}}
            {{#if tema.puedeSerBorrado}}
              <span {{action 'pedirConfirmacionDeBorrado' tema}}
                class="clickable">{{materialize/icon-helper 'delete'}}</span>
            {{/if}}
          {{/unless}}
        </td>

      </tr>

    {{/if}}
    {{/each}}
    </tbody>
  </table>

  {{#unless estaCerrada}}
    <a class="btn-floating btn-large waves-effect waves-light red right" {{action 'mostrarFormulario'}}><i
      class="material-icons">add</i></a>

    {{#if mostrandoFormularioDeEdicion}}
      {{editor-de-tema titulo='Modificar Propuesta' tema=temaAEditar nombreDeDuraciones=nombreDeDuraciones duraciones=duraciones cerrarEditor=(action 'cerrarEditorDeTema') alGuardar=(action 'updatearTema')  esObligatorio=esObligatorio seleccionarDuracion=(action 'seleccionarDuracion') classNames='col s11'}}
    {{/if}}
    {{#if mostrandoFormularioXTemaNuevo}}
      {{editor-de-tema titulo='Nueva Propuesta' tema=nuevoTema nombreDeDuraciones=nombreDeDuraciones duraciones=duraciones cerrarEditor=(action 'cerrarEditorDeTemaNuevo') alGuardar=(action 'agregarTema')  esObligatorio=esObligatorio seleccionarDuracion=(action 'seleccionarDuracion') classNames='col s11'}}
    {{/if}}
  {{/unless}}


</div>

{{tenpines/modal-de-confirmacion
open=modalDeBorradoAbierto
titulo='Confirmar eliminacion de tema'
descripcion=mensajeDeConfirmacionDeBorrado
accionAceptar=(action 'borrarTemaElegido')
}}
{{tenpines/modal-de-confirmacion
  open=modalDeCambioDeObligatoriedadAbierto
  titulo='Cambiando a tema no obligatorio'
  descripcion="Se perderán todos los votos del tema"
  accionAceptar=(action 'updatearTemaConfirmado')
}}


{{#if puedeCerrar}}

  <div class="row">
    <div class="col s12">

      <div class="card">
        <div class="card-content">
          <span class="card-title">Cerrar Temario para todos</span>
          <p>Una vez votados todos los temas y antes de comenzar la reunion debemos cerrar el temario
            y al hacerlo, se ordenaran primero el mas votado.<br>
            <b>Nadie mas podrá seguir votando</b>
          </p>
        </div>
        <div class="card-action center-align">

          {{#unless estaCerrada}}
            {{tenpines/material-button label='Terminar votacion' click=(action 'pedirConfirmacionDeCierre') bgColor='red'}}
          {{/unless}}
          {{#if estaCerrada}}
            {{tenpines/material-button label='Reabrir votacion' click=(action 'reabrirVotacion') flat=true}}
          {{/if}}

        </div>
      </div>

      {{tenpines/modal-de-confirmacion
      open=modalDeCierreAbierto
      titulo='Confirmar cierre de votación'
      descripcion='¿Estás seguro que querés cerrar la votación, que comience la reunión y que nadie más pueda seguir votando?'
      accionAceptar=(action 'cerrarVotacion')
      }}

    </div>
  </div>
{{/if}}

