<div class="row">
{{#tenpines/object-table titulos='Prioridad, Tema, Autor, Duración, Obligatoriedad ' col=anchoDeTabla bordered=true highlight=true }}
  {{#each  minuta.temas as |temaDeMinuta|}}
    <tr  {{action 'verEditorDeConclusion' temaDeMinuta}} >
      <td>{{temaDeMinuta.tema.prioridad}}</td>
      <td>{{temaDeMinuta.tema.titulo}}</td>
      <td>{{temaDeMinuta.tema.autor}}</td>
      <td>{{temaDeMinuta.tema.duracion}}</td>
      <td>{{temaDeMinuta.tema.obligatoriedad}}</td>
     {{tema-de-minuta-conclusion-checked usuarios=usuarios temaDeMinuta=temaDeMinuta}}
    </tr>
  {{/each}}
{{/tenpines/object-table}}

{{# if mostrandoEditor}}
  {{editor-de-conclusion
    alGuardar=(action 'guardarConclusion')
    alCerrar=(action 'cerrarEditor')
    temaDeMinuta=temaAEditar
    usuarios=model.usuarios
  }}
{{/if}}

</div>