<div>

  <div class="card-action right-align">
    {{#link-to 'minuta.asistentes' reunionId}}
      {{tenpines/material-button label='Editar'}}
    {{/link-to}}

    {{#link-to 'minuta.ver-txt' reunionId}}
      {{tenpines/material-button label='Ver TXT'}}
    {{/link-to}}
  </div>

  <h5>
    Fecha: {{minuta.fecha}}
  </h5>

  <h5>
    Último Minuteador: {{minuta.minuteador}}
  </h5>
  <div class="card-panel">
  <h5>
    Asistentes
  </h5>
  <div>
    {{#each minuta.asistentes as |asistente|}}
      {{tenpines/colored-label value=asistente.name bgColor='green'}}
    {{/each}}
  </div>
  </div>
  <div class="card-panel">
  <h4>
    Temas Tratados
  </h4>

  {{#cp-panels as |panels|}}
    {{#each temasTratados as |tema|}}
      {{#panels.panel as |panel|}}
        {{#panel.toggle}}
          <div class="card-panel">
          <div>{{tema.tema.titulo}}</div>
          </div>
        {{/panel.toggle}}
        {{#panel.body}}
          <div>{{markdown-view value=tema.tema.descripcion}}</div>
          <h6><b>Conclusión</b></h6>
          <div>{{markdown-view value=tema.conclusion}}</div>
          <ul class="collection">
            {{#each tema.actionItems as |actionItem|}}
              <li class="collection-item">
                <span>{{markdown-view value=actionItem.descripcion}}</span>
                <span>
                  {{#each actionItem.responsables as |responsable|}}
                    {{tenpines/colored-label value=responsable.name bgColor='green'}}
                  {{/each}}
                </span>
              </li>
            {{/each}}
          </ul>
        {{/panel.body}}
      {{/panels.panel}}
    {{/each}}
  {{/cp-panels}}
  </div>
</div>
